<div class="relative isolate overflow-hidden bg-based-blue py-4 sm:py-8">
  <!--<img alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center">-->
  <div class="flex flex-row flex-nowrap justify-around">
    <div class="px-4 py-5 rounded bg-white border border-blue-200 shadow-sm shadow-slate-50">{{ infoServer }}</div>
    <div class="px-4 py-5 rounded bg-white border border-blue-200 shadow-sm shadow-slate-50">{{ infoServer }}</div>
    <div class="px-4 py-5 rounded bg-white border border-blue-200 shadow-sm shadow-slate-50">{{ infoServer }}</div>
  </div>
</div><!-- Переделать список лучших/популярных серверов, сделать их функциональными. Или вообще избавиться от этой идеи и сделать что то иное -->
  