<div class="bg-white">
    <footer class="relative">
      <nav class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <!-- Изменить текст и добавить ссылок, мб какие то ссылки на соцсети -->
        <div class="relative inset-x-0 top-full text-sm text-gray-500">
            <div class="mx-auto">
            <div class="py-16 pl-0 md:pl-20 lg:pl-40">
                <div class="grid grid-cols-3 gap-y-10 gap-x-8 text-sm">
                <div>
                    <p id="Clothing-heading" class="font-medium text-gray-900">Clothing</p>
                    <ul role="list" aria-labelledby="Clothing-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-gray-800">Tops</a>
                    </li>

                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-gray-800">Pants</a>
                    </li>

                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-gray-800">Sweaters</a>
                    </li>

                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-gray-800">T-Shirts</a>
                    </li>

                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-gray-800">Jackets</a>
                    </li>

                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-gray-800">Activewear</a>
                    </li>

                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-gray-800">Browse All</a>
                    </li>
                    </ul>
                </div>

                <div>
                    <p id="Accessories-heading" class="font-medium text-gray-900">Accessories</p>
                    <ul role="list" aria-labelledby="Accessories-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-gray-800">Watches</a>
                    </li>

                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-gray-800">Wallets</a>
                    </li>

                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-gray-800">Bags</a>
                    </li>

                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-gray-800">Sunglasses</a>
                    </li>

                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-gray-800">Hats</a>
                    </li>

                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-gray-800">Belts</a>
                    </li>
                    </ul>
                </div>

                <div>
                    <p id="Brands-heading" class="font-medium text-gray-900">Brands</p>
                    <ul role="list" aria-labelledby="Brands-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-gray-800">Re-Arranged</a>
                    </li>

                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-gray-800">Counterfeit</a>
                    </li>

                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-gray-800">Full Nelson</a>
                    </li>

                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-gray-800">My Way</a>
                    </li>
                    </ul>
                </div>
                </div>
            </div>   
          </div>
        </div>

      </nav>
    </footer>
  </div>
  