<div class="bg-based-blue">
    <footer class="relative">
      <nav class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <!-- Изменить текст и добавить ссылок, мб какие то ссылки на соцсети -->
        <div class="relative inset-x-0 top-full text-sm text-gray-200">
            <div class="mx-auto">
            <div class="py-16 pl-0 md:pl-20 lg:pl-40">
                <div class="grid grid-cols-3 gap-y-10 gap-x-8 text-sm">
                <div>
                    <p id="Clothing-heading" class="font-medium text-gray-50">Clothing</p>
                    <ul role="list" aria-labelledby="Clothing-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-blue-300">Tops</a>
                    </li>

                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-blue-300">Pants</a>
                    </li>

                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-blue-300">Sweaters</a>
                    </li>
                    </ul>
                </div>

                <div>
                    <p id="Accessories-heading" class="font-medium text-gray-50">Accessories</p>
                    <ul role="list" aria-labelledby="Accessories-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-blue-300">Watches</a>
                    </li>

                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-blue-300">Wallets</a>
                    </li>

                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-blue-300">Bags</a>
                    </li>
                    </ul>
                </div>

                <div>
                    <p id="Brands-heading" class="font-medium text-gray-50">Brands</p>
                    <ul role="list" aria-labelledby="Brands-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-blue-300">Re-Arranged</a>
                    </li>

                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-blue-300">Counterfeit</a>
                    </li>

                    <li class="flex">
                        <a routerLink="in-work" class="hover:text-blue-300">Full Nelson</a>
                    </li>
                    </ul>
                </div>
                </div>
            </div>   
          </div>
        </div>

      </nav>
    </footer>
  </div>
  