<app-nav></app-nav>

<!--
<p class="text-3xl font-bold underline">
  Version: {{ xV.numberVersion }}
</p>

<app-config></app-config>
-->

<router-outlet></router-outlet>
<router-outlet name='sign-in'></router-outlet>
<router-outlet name='registration'></router-outlet>
<router-outlet name='profile'></router-outlet>
<router-outlet name='admin-page'></router-outlet>
<router-outlet name='in-work'></router-outlet>
<router-outlet name='settings'></router-outlet>
<router-outlet name='server'></router-outlet>